body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
position: fixed;
border-bottom: 1px solid seashell;
height: 69px;
width: auto;
top: 0%;
}

.logo {
    height: 50px;
    float: left;
    padding-left: 10px;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0 auto;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
   
.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color: aliceblue;
}

.mission-container {
    background-image: url('./images/img-mission-background.jpg');
    background-repeat: no-repeat; /*so that it wont repeat itself as we go down the webpage*/
    background-position: center;
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 1em;
}

.text-over {
    margin: auto;
    background-color: black;
    width: 100%
}