html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    text-align: center;
}


.mission{
    background-image: url(./images/img-mission-background.jpg);
    background-size: cover;
    display: flex;
}

.featured-tea{
    
}